
@{
    Layout = "~/Areas/Admin/Views/_Shared/_Layout.cshtml";

    ViewData["Title"] = "Xe";
    ViewData["Page"] = "Xe";
}

<div class="row grid-margin">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Quản lí xe</h4>
                <div class="table-toolbar">
                    <div>
                        <div style="float:left;">
                            <button class="btn btn-success" data-toggle="modal"
                                    data-target="#CreateModal">
                                Thêm mới
                            </button>
                        </div>
                        <div style="float:right;">
                            <input style="width: 250px;" placeholder="Search" id="myInput"
                                   type="text" class="form-control" aria-controls="example2">
                        </div>
                    </div>
                </div>
                <table class="table">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Hãng Xe</th>
                            <th>Biển số xe</th>
                            <th>Số lượng ghế</th>
                            <th>Loại chỗ ngồi</th>
                            <th width="150">Chỉnh sửa</th>
                            <th width="85">Xóa</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>Toyota</td>
                            <td>59B-05345</td>
                            <td>30</td>
                            <td>Ghế cứng</td>
                            <td>
                                <a href="#" class="btn btn-primary" data-toggle="modal" data-target="#EditModal">
                                    Edit
                                </a>
                            </td>
                            <td>
                                <button class="btn btn-danger">
                                    Delete
                                </button>
                            </td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>Toyota</td>
                            <td>59B-05345</td>
                            <td>30</td>
                            <td>Ghế cứng</td>
                            <td>
                                <a href="#" class="btn btn-primary">
                                    Edit
                                </a>
                            </td>
                            <td>
                                <button class="btn btn-danger">
                                    Delete
                                </button>
                            </td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>Toyota</td>
                            <td>59B-05345</td>
                            <td>30</td>
                            <td>Ghế cứng</td>
                            <td>
                                <a href="#" class="btn btn-primary">
                                    Edit
                                </a>
                            </td>
                            <td>
                                <button class="btn btn-danger">
                                    Delete
                                </button>
                            </td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td>Toyota</td>
                            <td>59B-05345</td>
                            <td>30</td>
                            <td>Ghế cứng</td>
                            <td>
                                <a href="#" class="btn btn-primary">
                                    Edit
                                </a>
                            </td>
                            <td>
                                <button class="btn btn-danger">
                                    Delete
                                </button>
                            </td>
                        </tr>
                        <tr>
                            <td>5</td>
                            <td>Toyota</td>
                            <td>59B-05345</td>
                            <td>30</td>
                            <td>Ghế cứng</td>
                            <td>
                                <a href="#" class="btn btn-primary">
                                    Edit
                                </a>
                            </td>
                            <td>
                                <button class="btn btn-danger">
                                    Delete
                                </button>
                            </td>
                        </tr>
                        <tr>
                            <td>6</td>
                            <td>Toyota</td>
                            <td>59B-05345</td>
                            <td>30</td>
                            <td>Ghế cứng</td>
                            <td>
                                <a href="#" class="btn btn-primary">
                                    Edit
                                </a>
                            </td>
                            <td>
                                <button class="btn btn-danger">
                                    Delete
                                </button>
                            </td>
                        </tr>

                    </tbody>
                </table>
                <div style="float:right;padding-top: 25px;">
                    <nav aria-label="Page navigation example">
                        <ul class="pagination  rounded-flat">
                            <li class="page-item">
                                <a class="page-link" href="#" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                    <span class="sr-only">Previous</span>
                                </a>
                            </li>
                            <li class="page-item active"><a class="page-link" href="#">1</a></li>
                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item"><a class="page-link" href="#">4</a></li>
                            <li class="page-item"><a class="page-link" href="#">5</a></li>
                            <li class="page-item">
                                <a class="page-link" href="#" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                    <span class="sr-only">Next</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Modal -->
<!-- Create modal -->
<div class="modal fade" id="CreateModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Thêm Xe</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="exampleInputName1">Hãng Xe</label>
                    <input class="form-control" type="text" id="example-datetime-local-input"
                           placeholder="Chọn hãng xe">
                </div>
                <div class="form-group">
                    <label for="exampleInputName1">Biển số xe</label>
                    <input type="text" class="form-control" id="exampleInputName1" placeholder="Biển số xe">
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword4">Số lượng ghế</label>
                    <input type="text" class="form-control" id="exampleInputPassword4" placeholder="Số lượng ghế">
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword4">Loại chỗ ngồi</label>
                    <div class="dropdown">
                        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenuButton"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Chọn loại ghế
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="#">Ghế cứng</a>
                            <a class="dropdown-item" href="#">Ghế mềm</a>
                            <a class="dropdown-item" href="#">Giường nằm</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-success">Create</button>
            </div>
        </div>
    </div>
</div>

<!-- Edit modal -->
<div class="modal fade" id="EditModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Chỉnh sửa thông tin xe</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="exampleInputName1">Hãng Xe</label>
                    <input class="form-control" type="text" id="example-datetime-local-input" value="Toyota">
                </div>
                <div class="form-group">
                    <label for="exampleInputName1">Biển số xe</label>
                    <input type="text" class="form-control" id="exampleInputName1" value="59B-05345">
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword4">Số lượng ghế</label>
                    <input type="text" class="form-control" id="exampleInputPassword4" value="30">
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword4">Loại chỗ ngồi</label>
                    <div class="dropdown">
                        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenuButton"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Giường nằm
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="#">Ghế cứng</a>
                            <a class="dropdown-item" href="#">Ghế mềm</a>
                            <a class="dropdown-item" href="#">Giường nằm</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-success">Save change</button>
            </div>
        </div>
    </div>
</div>
<!--END Modal -->