@model BookingTicket.Domain.DataModels.ThongTinDatVeDataModel
@{
    ViewData["Title"] = "EditThongTinDatVe";
}

<div class="row grid-margin">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h2 class="card-title">Edit thông tin đặt vé</h2>
                <form asp-area="Admin" asp-controller="ThongTinDatVe" asp-action="Edit" id="edit-thongtindatve-form" class="forms-sample" method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="MaDatCho" />
                    <div class="form-group">
                        <label for="HoTenNguoiDat">Họ tên</label>
                        <input asp-for="HoTenNguoiDat" type="text" class="form-control">
                        <span id="validate_hoten" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label for="SDT">Số điện thoại</label>
                        <input asp-for="SDT" type="text" class="form-control">
                        <span id="validate_sdt" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label for="NgayDat">Ngày đặt</label>
                        <input asp-for="NgayDat" type="text" class="form-control" disabled>
                    </div>
                    <div class="form-group">
                        <label for="NgayKhoiHanh">Ngày khởi hành</label>
                        <input asp-for="NgayKhoiHanh" type="text" class="form-control" disabled>
                    </div>
                    <div class="form-group">
                        <label for="TuyenXe">Tuyến xe</label>
                        <input asp-for="TuyenXe" type="text" class="form-control" disabled>
                    </div>
                    <div class="form-group">
                        <label for="ThoiGian">Thời gian chạy</label>
                        <input asp-for="ThoiGian" type="text" class="form-control" disabled>
                    </div>
                    <div class="form-group">
                        <label for="Xe">Xe</label>
                        <input asp-for="Xe" type="text" class="form-control" disabled>
                    </div>
                    <div class="form-group">
                        <label for="GiaVe">Giá vé</label>
                        <input asp-for="GiaVe" type="text" class="form-control" disabled>
                    </div>                  
                    <button type="submit" class="btn btn-success mr-2">Submit</button>
                    <button class="btn btn-light">Cancel</button>
                </form>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script>   
        $(document).ready(function () {
            $("#NgayDat").datepicker({
                dateFormat: 'yy-mm-dd',//check change
                changeMonth: true,
                changeYear: true
            });
            $("#NgayKhoiHanh").datepicker({
                dateFormat: 'yy-mm-dd',//check change
                changeMonth: true,
                changeYear: true
            });      
            $("#edit-thongtindatve-form").submit(() => {
                $("#validate_hoten").html("");
                $("#validate_sdt").html("");

                let valid = true;
                let hoten = $("#HoTenNguoiDat").val();
                let sdt = $("#SDT").val();
                let check = /((09|03|07|08|05)+([0-9]{8})\b)/g;

                if (hoten == "") {
                    $("#validate_hoten").html("Ho ten khong hop le");
                    valid = false;
                }

                if (sdt == "") {
                    $("#validate_sdt").html("SDT khong duoc trong");
                    valid = false;
                }
                else if (check.test(sdt) == false) {
                    $("#validate_sdt").html("SDT khong hop le");
                }

                return valid;
            });
        });
    </script>
}
